<button id="openReviewButton">Review appear!!</button>
<div class="row">
  <div id="reviewOverlay" class="small-5 small-centered columns">
  <!-- Not sure if I even want an overlay but sticking it here in case -->
    <div id=reviewPopup>
      <div class="popupControls">
          <span id="popupClose">X</span>
      </div>
      <div class="reviewContent">
          <h1>This is where the review content will go! Wow</h1>
      </div>
    </div>
  </div>
</div>

<div id="map"></div>

<% cities = City.all %>

<script type="text/javascript">
 var cityData = 0
  $.get("reviews.json", function(data) {
    cityData = data
  });

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 13.046155, lng: 104.828707},
      zoom: 6,
    });

    var myLatLng = {lat: 14.363, lng: 105.044};
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });

    cityData.forEach(function(city) {
      var marker = new google.maps.Marker({
          position: new google.maps.LatLng(city.latitude, city.longitude),
          map: map,
          icon: {
              path: google.maps.SymbolPath.CIRCLE,
              scale: 14,
              fillColor: "#E26008",
              fillOpacity: 1,
              strokeWeight: 0.6
          },
      });
    });



  };
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT-cR8W-TCwZLqfIIDgASK9Tl-wAMHay8&callback=initMap"></script>
