<div class="box1"></div>

<div class="box2"></div>

<button id="button">Im the button</button>

<script type="text/javascript">
	$("#button").click(function(){
		 // $(".box2").css("transform", "translateX(-100%)")
		$(".box2").addClass('mobile-left');
	});

</script>

