/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require bootstrap
 */


.top-bar {
    border-bottom: 1px solid gray;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    width: 100%;
}


.nav {
  max-width: 100%;
}

.right {
  display: inline;
  border-bottom: 1px solid gray;
}

#map {
  height: 100%;
  width: 100%;
}

.new_review {
  padding-top: 5em;
}

.labels {
  font-size: 16px;
}

.lime {
  border: 2px solid lime;
  margin-top: 1em;
  margin-bottom: 1em;
}

::-webkit-input-placeholder {
  color: gray;
  opacity: .5;
}

.flex {
  display: flex;
}

.margin-auto {
  margin: auto;
}

.flash {
  background-color: lime;
}

.formContainer {
  padding-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  width: 60%;
}

.standardContainer {
  padding: 2em;
  padding-top: 1em;
}

.biasWrapper {
  width: 75%;
  margin: 0 auto
}

#city_name {
  display: none;
}

#addCityButton {
  display: none;
}
