#popup{
  background-color: white;
  display: none;
  position: absolute;
  overflow: scroll;
  z-index: 5;
  right: -40%;
  width: 40%;
  height: 100%;

  -webkit-box-shadow: -6px 5px 35px 0px rgba(133,133,133,0.53);
  -moz-box-shadow: -6px 5px 35px 0px rgba(133,133,133,0.53);
  box-shadow: -6px 5px 35px 0px rgba(133,133,133,0.53);
}

#reviewContent {
  height: 100%;
  padding: 2em;
  width: 95%;
  margin: auto;
}

.x {
    float: right;
    padding-top: 1rem;
    font-size: 1.5em;
    font-weight: 200;
}

a .x{
    color: black;
}

a:hover .x{
    color: hotpink;
}

.cityNameAndScoreRow{
  padding-bottom: 3em;
}

.cityName {
  text-transform: uppercase;
  padding-left: 0px;
  padding-top: 1em;
  padding-bottom: .5em;
  font-size: 2.5em;
  font-weight: 500;

}

.cityCircle {
  position: absolute;
  top: 7.5em;
  right: .7em;
  border-radius: 50%;
  height: 5em;
  width: 5em;

  -webkit-box-shadow: 2px -3px 20px -2px rgba(92,92,92,0.54);
  -moz-box-shadow: 2px -3px 20px -2px rgba(92,92,92,0.54);
  box-shadow: 2px -3px 20px -2px rgba(92,92,92,0.54);
}

.cityScoreText {
    color: white;
  /* TODO center this element automatically */
    padding-top: .45em;
    margin-left: -.2em;
    font-size: 2em;
    font-weight: bold;
}

.seeBiasButton {
  padding-top: 2em;
  padding-bottom: 2em;
}

.animate-left {
	-webkit-animation-name: slideLeft;
	-webkit-animation-duration: .2s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode:forwards;
}

.animate-right {
	-webkit-animation-name: slideRight;
	-webkit-animation-duration: .3s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-fill-mode:forwards;
}


@media only screen and (max-width: 800px) {

  #popup {
    top: 50%;
    right: -100%;
    width: 100%;
    height: 50%;
  }

  #reviewContent {
    padding: 1em;
    padding-top: 0px;
  }

}


@-webkit-keyframes slideLeft {
	0% {
    	-webkit-transform: translateX(0%);
	}
	100%{
		-webkit-transform: translateX(-100%);
	}
}

@-webkit-keyframes slideRight {
	0% {
    	-webkit-transform: translateX(-100%);
	}
	100%{
		-webkit-transform: translateX(0%);
	}
}
