<div class="standardContainer">
  <h2>Hi friends! Thanks so much for helping! </h2>
  <p>While planning my trip to SE Asia, I had a lot of trouble figuring out where to go. Everywhere looked great! It was hard to wrap my head around what a place would be like. When I got to Asia and starting having conversations with travelers, it quickly became apparent that some places appealed to me a lot more than others. However, all of this information was word of mouth!</p>

  <p>Thus Durian was born. My goal is to show how subjective and opinionated travel planning is. Some people would LOVE partying on Ko Phi Phi island in Thailand, I personally thought it was awful. This app tries to show various viewpoints, quickly and easily, and I need your help.</p>

  <p>I sent you here because you’re a) awesome b) have traveled in SE Asia in the last couple of years. Please sign up and fill out your “biases.” This will give people a bit of a snapshot of where you’re coming from.</p>

  <p>And please write some reviews using the link in the top right of the page! Reviews can be anywhere from 50-500 words, no need to make it long if you don’t want to. Don’t hold back, be opinionated! I especially want strong opinions, places you really liked or really didn’t like.</p>

  <p>If you don’t see a city in the drop down in the review section hit me up at tobiasbkahn@gmail.com or text me 206-769-1245 and I’ll add it ASAP. </p>

  <p>Thanks so much for the help and let me know if there’s any questions at all or if anything isn’t working. Also if you can think of any ideas to make the app better in general I'm all ears.</p>

  <p><strong>If you're curious... </strong> <br>
    I'm restricting this to SE Asia at first just to see if people even like this thing, but would open it up to other regions later. If I have time there's a ton of other potential features to add. Top of mind is allowing users to fill out interests and calculating the % chance they'll like a place based on that. Links to curated travel blogs posts/articles about a place. Collaborating with travel bloggers for exclusive content, etc.
  </p>
</div>
